/* Bootstrap Modification */
.caption > h3 {
	color: #000;
}

/* Home CSS */
.top {
	margin-bottom: 0px;
	height: calc(100vh);
	z-index: 1;
	background-image: url('../images/top.png');
	background-attachment: fixed;
    background-position: center 80px;
    background-size: cover;
    padding-left: 8%;
    padding-top: 10%;
}

.top > h1,h3 {
	z-index: 2;
	color: #fff;
}

.top > h1 {
	font-size: 4em;
}

.top > h3 {
	margin-top: -3px;
	font-weight: 100;
}

.mission {
	z-index: 1;
	height: calc(100vh);
	background-image: url('../images/mission.jpg');
	background-attachment: fixed;
	background-size: cover;
}

.mission-content {
	z-index: 2;
	padding: 1em 8% 3.5em 8%;
	background-color: #303F9F;
}

.mission-content > h1 {
	padding-top: calc(61px + 0.5em);
	font-size: 3.3em;
	margin-bottom: 0.5em;
}

.mission-content > p {
	font-size: 1.4em;
	font-weight: 300;
	text-indent: 3.5em;
	text-align: justify;
}

.mission-content > * {
	color: #fff;
}

.help-us {
	z-index: 1;
	height: calc(100vh);
	background-image: url('../images/helpus.jpg');
	background-attachment: fixed;
	background-size: cover;
}

.help-us-content {
	z-index: 2;
	padding: 1em 8% 3.5em 8%;
	background-color: #303F9F;
}

.help-us-content > h1 {
	margin-bottom: 0.5em;
	padding-top: calc(61px + 0.4em);
	font-size: 6em;
}

.help-us-content > p {
	margin-top: 0.5em;
	font-size: 1em;
}

.help-us-content > * {
	color: #fff;
}

.help-us-content > p#help-us-content {
	font-size: 1.4em;
	font-weight: 300;
	text-indent: 3.5em;
	text-align: justify;
	margin-bottom: 1em;
}

.shop {
	z-index: 1;
	height: auto;
	background-color: #303F9F;
}

.shop-content {
	z-index: 2;
	padding: 1em 8% 3.5em 8%;
	background-color: #303F9F;
}

.shop-content > h1 {
	padding-top: calc(61px + 0.5em);
	font-size: 3.3em;
	margin-bottom: 0.5em;
	color: #fff;
}

.shop-content > h2 {
	font-weight: 300;
	color: #fff;
	margin-bottom: 1em;
}

.contact-us {
	z-index: 1;
	height: calc(100vh - 120px);
	background-image: url(../images/contactus.png);
	background-attachment: fixed;
	background-size: cover;
}

.contact-us-content {
	z-index: 2;
	padding: 1em 8% 3.5em 8%;
	background-color: #303F9F;
}

.contact-us-content > h1 {
	padding-top: calc(61px + 0.5em);
	font-size: 3.3em;
	margin-bottom: 1em;
	color: #fff;
}

.contact-us-content > p {
	color: #fff;
}

.contact-us-content > p > a {
	color: #fff;
}

.contact-us-content > p > a > i {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.footer {
	height: 120px;
	line-height: 120px;
	vertical-align: middle;
	background-color: #1A237E;
}

.footer > p {
	color: #fff;
	font-size: 1.2em;
	margin: 0 !important;
}