// Splash Page
body {
	z-index: 1;
	background-image: url('../images/top.png');
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
	color: #fff;
	font-size: 5em;
	margin-bottom: -0.15em;
}

h3 {
	color: #fff;
	font-size: 1.95em;
	margin-bottom: 2em;
	font-weight: 200;
}

.button {
	display: inline-block;
	border: 2px solid #fff;
	padding: 10px 20px;
	color: #000;
	background-color: #fff;
	text-decoration: none;
	transition: 0.3s;
	font-size: 1.8em;
	font-weight: 200;
}

.button:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}

// Bootstrap modify
.row {
	padding-top: 2em;
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}